/*
====================================
SGC - ESTILOS GMP
====================================
*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.oculto{
    display:none;
}

.boton-gmp{
    background:#D8C3A5;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}

.boton-gmp:hover{
    opacity:0.9;
}
